body {
	background: rgb(189, 108, 16);
}

nav {
	background-color: black;
	font-family: 'Damion', cursive;
	font-size: 36px;
}

li {
	font-family: 'Marck Script', cursive;
	font-size: 28px;
	list-style: none;
	float: left;
	text-align: center;
	display: block;

}

a {
	color: white;
	padding: 5px;
}

.narbar-brand {
	font-size: 100px;
}

#imageContainer {
  width: 1000px;
  height: 370px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 4px 4px 7px #292929;
  margin: 30px auto 0;
  padding: 10px;
  text-align: center;
} 

#carousel {
	width: 980px;
	overflow:hidden;

}


#carousel ul {
	width: 3920px;
	padding: 0;
	margin: 0 auto;
}

#carousel ul li {
	width: 980px;
	text-align: center;
	height: 350px;
	list-style: none;
	float: left;
	text-align: center;
}



img:hover {
	opacity: 0.4;
}

 #womens {
 	text-align: center;
	display: inline;
	position: absolute;
	bottom: 0; 
	left: 0.5em; 
	width: 400px; 
	font-weight: bold; 
	color: #fff;
	padding: 0.5rem;
}	


#dress1 {
	text-align: center;
	margin-left: 150px;
	padding: 20px;
	float: left;
	width: 400px;
	height: 600px;
}

#menscover {
	text-align: center;
	margin-right: 150px;
	padding: 20px;
	float: right;
	width: 400px;
	height: 600px;
}

#accessories {
	text-align: center;
	float: center;
	margin: 40px;
	padding: 10px;
	width: 1100px;
	height: 500px;
}


input#submit {
	color: black;
	text-shadow: 0px 1px 1px #ffffff;
	padding: 5px 6px;
  	text-decoration: none;
  	font-family: 'Damion', cursive;
}

input#submit:hover {
	opacity: 0.4;
} 

.thanks {
	display: none;
}

.icon-facebook3:before {
    content: "\ea8e";
    color: rgb(189, 108, 16);

}

.icon-instagram:before {
    content: "\ea90";
    color: rgb(189, 108, 16);
}

.icon-twitter3:before {
    content: "\ea93";
    color: rgb(189, 108, 16);
}

footer {
	width: auto;
	border: 1px solid black;
	background-color: rgba(4, 65, 107, 0.8);
	height: 100px;
	text-align: center;
	color: rgb(189, 108, 16);
	font-family: 'Damion', cursive;
	font-size: 20px;
	padding: 15px;
	margin-bottom:20px;
	height: 220px;
}

footer p {
	color: rgb(189, 108, 16);
}