body {
	background: rgb(189, 108, 16);
}

nav {
	background-color: black;
	font-family: 'Damion', cursive;
	font-size: 36px;


}

li {
	font-family: 'Marck Script', cursive;
	font-size: 28px;
	list-style: none;
	float: left;
	text-align: center;
	display: block;


}

a {
	color: white;
	padding: 5px;
}

.clearfix {
	clear: both;
}


#imageContainer {
  width: 980px;
  height: 350px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 4px 4px 7px #292929;
  margin: 30px auto 0;
  padding: 10px;
} 

#carousel {
	width: 980px;
	overflow:hidden;
}


#carousel ul {
	width: 3920px;
	padding: 0;
	margin: 0 auto;
}

#carousel ul li {
	width: 980px;
	text-align: center;
	height: 350px;
	list-style: none;
	float: left;
}



img:hover {
	opacity: 0.4;
}

 #womens {
 	text-align: center;
	display: inline;
	position: absolute;
	bottom: 0; 
	left: 0.5em; 
	width: 400px; 
	font-weight: bold; 
	color: #fff;
	padding: 0.5rem;
}	


#dress1 {
	text-align: center;
	margin-left: 150px;
	padding: 20px;
	float: left;
	width: 400px;
	height: 600px;
}

#menscover {
	text-align: center;
	margin-right: 150px;
	padding: 20px;
	float: right;
	width: 400px;
	height: 600px;
}

#accessories {
	text-align: center;
	float: center;
	margin: 40px;
	padding: 10px;
	width: 1100px;
	height: 500px;
}
