@media all {
	.pics {
		text-align: center;
		max-width: 200%;
		max-height: 200%;
	}


}


body {
	background-color: rgba(84, 229, 202, 0.43);
}


nav {
	background-color: black;
	font-family: 'Damion', cursive;
	font-size: 36px;
	border-bottom: 1px;
}

li {
	font-family: 'Marck Script', cursive;
	font-size: 28px;
	list-style: none;
	float: left;
	text-align: center;
	display: block;
}


a {
	color: rgb(189, 108, 16);
	padding: 5px;
}


.container {
	margin-bottom: 55px;
}

.thumbnail {
	max-width: 250px;
}

.pics {
	max-width: 524px;
	max-height: 350px;
}

.fill {
	font-family: 'Damion', cursive;
}

p {
	font-family: 'Marck Script', cursive;
	font-size: 18px;
}


.shop {
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: 30px;
}


input#submit {
	color: black;
	text-shadow: 0px 1px 1px #ffffff;
	padding: 5px 6px;
  	text-decoration: none;
  	font-family: 'Damion', cursive;
  	background-color: rgba(84, 229, 202, 0.56);
}

input#submit:hover {
	opacity: 0.4;
} 

.thanks {
	display: none;
}

.icon-facebook3:before {
    content: "\ea8e";
    color: rgb(189, 108, 16);
}

.icon-instagram:before {
    content: "\ea90";
    color: rgb(189, 108, 16);
}

.icon-twitter3:before {
    content: "\ea93";
    color: rgb(189, 108, 16);
}

footer {
	width: auto;
	border: 1px solid black;
	background-color: rgba(4, 65, 107, 0.8);
	height: 100px;
	text-align: center;
	color: rgb(189, 108, 16);
	font-family: 'Damion', cursive;
	font-size: 20px;
	padding: 15px;
	margin-bottom:20px;
	height: 220px;
}

footer p {
	color: rgb(189, 108, 16);
}




